:root {
  --background: white;
  --text-primary: black;
  --post-color: white;
}

[data-theme='dark'] {
  --background: rgb(46, 39, 47);;
  --text-primary: white; 
  --post-color: rgb(56, 63, 116);
}

body {
  margin: 0;
  background-color: var(--background);
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 40px;
  background-color: var(--background); 
}

.aside {
  position: absolute;
  top: 10px;
  left: 10px;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.header {
  color: var(--text-primary);
}

.light-dark-button {
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  width: 40px;
  height: 40px;
  background-size: cover;
}